name: NixOS CI

on:
  pull_request:
    branches:
      - stable
    paths:
      - '**.nix'
      - 'flake.*'

jobs:
  nix-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Show Nix version
        run: nix --version

      - name: Run nix fmt
        run: nix fmt .

      - name: Run flake check
        run: nix flake check --show-trace

      - name: Dry build system configuration
        run: nix build .#nixosConfigurations.nixos.config.system.build.toplevel
