name: NixOS CI

on:
  pull_request:
    branches: [ stable, unstable ]
    paths:
      - '**.nix'
      - 'flake.*'
      - '.github/workflows/**'
  push:
    branches: [ stable, unstable ]
    paths:
      - '**.nix'
      - 'flake.*'

permissions:
  contents: read

jobs:
  checks:
    name: Basic Nix checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Format check (alejandra)
        run: nix run .#formatter.x86_64-linux -- --check .

      - name: Flake check
        run: nix flake check --show-trace || true
